:root {
    --umich-blue: #00274C;
    --umich-maize: #FFCB05;
    --white: #FFFFFF;
    --gray: #E5E5E5;
    --dark-gray: #333;
}


body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--dark-gray);
    line-height: 1.6;
}


header {
    background-color: var(--umich-blue);
    color: var(--white);
    padding: 1rem;
    text-align: left; 
}

header img {
    max-width: 150px;
    display: block;
    margin: 0 0 1rem 0;
}

header a.skip-link {
    color: var(--white);
    background: var(--umich-blue);
    border: 2px solid var(--white);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    padding: 8px 12px;
    border-radius: 5px;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

nav ul li {
    margin: 0.5rem 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--umich-blue);
    font-weight: bold;
    font-size: 1.2rem;
}


main {
    display: block;
    padding: 1rem;
    text-align: left; 
}

main h1 {
    color: var(--umich-blue);
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}

main h2 {
    color: var(--umich-blue);
    font-size: 1.5rem;
}

main h2.our-mission {
    color: var(--umich-maize);
}

main p {
    font-size: 1.1rem;
    max-width: 90%;
    margin: 0 auto;
}


main img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
    width: 100%;
}

.hero-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 20px 0;
}


ul {
    padding: 0;
}

ul li {
    list-style: none;
    padding: 1rem;
    background: var(--gray);
    margin: 1rem 0;
    border-radius: 8px;
}


footer {
    background: var(--umich-blue);
    color: var(--white);
    text-align: left; 
    padding: 1rem;
    margin-top: 2rem;
}

footer a {
    color: var(--umich-maize);
    text-decoration: none;
    font-weight: bold;
}


@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: flex-start; 
    }

    nav ul li {
        margin: 0 1rem;
    }

    main {
        display: block;
    }
}

@media (min-width: 1024px) {
    main {
        display: block;
    }
}

